@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add a machine</h2>

<h4>Assign a machine to: @Html.DisplayFor(m => m.Name)</h4>

@using (Html.BeginForm()){
    @Html.HiddenFor(m => m.EngineerId)

    @if (ViewBag.MachineId != null && ((IEnumerable<SelectListItem>)ViewBag.MachineId).Any())
    {
        @Html.Label("Select machine")
        @Html.DropDownList("MachineId", ViewBag.MachineId as IEnumerable<SelectListItem>)
        <input type="submit" value="Save"/>
    }
    else
    {
        <p>There are no machines available.</p>
    }

}

<p>@Html.ActionLink("Back to list", "Index")</p>
