@{
    Layout = "_Layout";
}

<h1>Dr. Sillystringz's Factory</h1>

<h4>Engineers</h4>
@if (Model["engineers"].Length == 0)
{
  <p>No engineers are available!</p>
} 
<ul>
    @foreach (Factory.Models.Engineer engineer in Model["engineers"])
    {
    <li>@Html.ActionLink(@engineer.Name, "Details", "Engineers", new { id = @engineer.EngineerId})</li>
  }
</ul>

<h4>Machines</h4>
@if (Model["machines"].Length == 0)
{
  <p>No items have been added yet!</p>
} 
<ul>
  @foreach (Factory.Models.Machine machine in Model["machines"])
  {
    <li>@Html.ActionLink(@machine.Name, "Details", "Machines", new { id = @machine.MachineId})</li>
  }
</ul>


@* <p>@Html.ActionLink("Engineers List", "Index", "Engineers")</p>
<p>@Html.ActionLink("Machines List", "Index", "Machines")</p> *@

